.App {
  text-align: center;
}


.col-md-4 {
  color: #000;
}

.Jumbotron {
  background: #282c34;
  height: 400px;
  padding: 120px;
  color: honeydew;
}

.start{
  opacity: 0;
}
.end{
  opacity: 1;
  transition: 0.5s;
}